body {
    background: rgb(68, 74, 110);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    max-width: 400px;
}

#content {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    padding: 40px;
    border-radius: 20px;
}

form {
    text-align: center;
}

input {
    margin: 5px 0px;
}

#res {
    margin: 20px 0px;
    padding: 10px;
    border: 2px solid black;

}

input[type="button"], input[type="submit"]{
    background-color: #63A2E0;
    border: 0;
    padding: 12px;
    border-radius: 15px;
    cursor: pointer;
}